@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
*{
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #D4DBE5 ;
}
body{
  background:rgba(23, 22, 27, 1);
}

#about{
  background-image: url('https://raw.githubusercontent.com/phillip8232/Portfolio/main/Assets/Rain.gif') ;
  font-size: 12px;
  padding-top: 20px;
  width: 100%;
}

#about p{
  padding-top: 20px;
  width: 600px;
}

#about img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 120px;
  padding-bottom: 20px;
}
#projects
{
  padding-top: 20px;
}
div.scrollmenu{
  display: flex;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
}
  
div.scrollmenu a{
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu img
{
  width: 400px;
  height: 30vh;
}

.center
{
  background: rgba(23, 22, 27, 0.9);
  display: flex;
  justify-content: center;
}

#contacts{
  display: flex;
  justify-content: center;
}

#contacts img{
  width: 40px;
  padding: 10px;
}

.DocumentationCol
{
  display: flex;
  flex-direction: column;
  width: 600px;
}
footer
{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media only screen and (max-width: 800px) {
  div.scrollmenu{
    justify-content: left;
  }
}

@media only screen and (max-width: 590px) {
  .DocumentationCol h1{
    font-size: medium;
  }
  .DocumentationCol h2{
    font-size:medium;
  }

  .DocumentationCol {
    width: 350px;
  }
}